body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#counter {
    font-size: 2em;
    margin-bottom: 20px;
}

#incrementBtn {
    padding: 20px 20px;
    font-size: 1em;
    cursor: pointer;
}
